header {
    padding: 20px 10px;
    background: #333;
    color: #eee;
}
#main {
    padding: 20px 10px;
}
#clock {
    font-family: 'Digital7Mono';
    font-size: 4em;
    padding: 20px;
}


@font-face {
    font-family: 'Digital7Mono';
    src: url('../font/digital-7_mono-webfont.eot');
    src: url('../font/digital-7_mono-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/digital-7_mono-webfont.woff') format('woff'),
         url('../font/digital-7_mono-webfont.ttf') format('truetype'),
         url('../font/digital-7_mono-webfont.svg#Digital7Mono') format('svg');
    font-weight: normal;
    font-style: normal;

}
